<div class="modal-dialog modal-lg" role="document">

    <form id="form-edit" role="form" action="{% url 'updatesolici' object.pk %}" method="post"  class="form-inline">

        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editando Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <div class="modal-body">
                    <div id="errores">

                    </div>
                    <h3>Editar información {{object.empresa}}</h3>
                    <ul class="list-group">

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Fecha:</strong> <input id="fecha_min" type="date" class="form-control" name="fecha" value="{{object.fecha | date:'c'}}">
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Hora de atención:</strong> {{ form.hora_atencion }}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Hora de atención final:</strong> {{ form.hora_final_atencion }}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Empresa:</strong> {{ form.empresa }}
                        </li>

                        <!--<li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Ciudad:</strong> {{ form.ciudad }}
                        </li>-->

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Asunto:</strong> {{ form.asunto }}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Respuesta:</strong> {{ form.respuesta }}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center" for="inputAddress">
                            <strong>Fecha solicitud:</strong> <input id="fecha_sol" type="date" class="form-control" name="fecha_solicitud" value="{{object.fecha_solicitud | date:'c'}}">
                        </li>

                    </ul>
                </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" onclick="editar();">Confirmar</button>
            </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>